body {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
}

#menuButton.open {
   background-image:url(../img/MenuClose.png);
   height:24px;
   width:140px;
   margin: 43px 0px 0px 350px;
   position:absolute;
}

#menuButton.close {
   background-image:url(../img/MenuOpen.png);
   height:24px;
   width:140px;
   margin: 43px 0px 0px 350px;
   position:absolute;
}